<section id="main">
	<div class="gradient-wood gradient-left"></div>
	<div class="gradient-wood gradient-right"></div>
  <div id="infinity"></div>
  <article id="sliders">
    <div class="slider_balls">
      <ul>
        <li class="ball item_1 active"><a href="#"></a></li>
        <li class="ball item_2"><a href="#"></a></li>
        <li class="ball item_3"><a href="#"></a></li>
      </ul>
    </div>
    <section class="slider">
      <img src="<%= image_path("slider/slider_1.jpg") %>" class="item_1">
      <img src="<%= image_path("slider/slider_2.jpg") %>" class="item_2">
      <img src="<%= image_path("slider/slider_3.jpg") %>" class="item_3">
    </section>
  </article>
  <article id="presentation">
    <div class="content">
      <div class="fill-title"></div>
      <h2>Infinity institut</h2>
      <div class="fill-text"></div>
      <p>L’institut Infinity  vous propose des soins à la carte et se fera un plaisir de vous faire vivre un véritable moment de détente dans une ambiance douce et unique.</p><br />
      <p>Afin de satisfaire au mieux la clientèle et rendre votre visite inoubliable, l’institut Infinity a choisit de travailler avec la gamme de produits Sothys, produits de qualité qui sont spécialisés dans les soins du visage et du corps. Sothys à l’avantage d’être une gamme complète qui permet de personnaliser les soins à chaque type de peau.</p>
    </div>
  </article>
  <article id="presentation-1">
    <div class="content">
      <h2>Présentation</h2>
      <p>Khéty Hertig Esthéticienne diplômée de l’école internationale Cidesco de Montreux, titulaire d’un CFC en esthétique ainsi que de plusieurs diplômes, notamment de styliste ongulaire, massage pour femme enceinte, massage aux pierres-chaudes et traitement anti-cellulite.</p>
      <p>Membre de ASECFC  (association suisse d esthéticienne Certificat fédéral de capacité)</p>
      <p>Diplômes : sothys visage et corps, massage relaxant, massage amincissant, maquillage, permanente des cils, nail art akyado</p>
      <p>Venez découvrir un nouvel espace beauté  prêt à vous accueillir dans un cadre douillet, agréable et lumineux au cœur de Cheseaux sur Lausanne.</p>
      <p>N’hésitez plus, faites- vous plaisir en vous offrant le temps d'un soin de votre choix, un moment de douceur dans une atmosphère relaxante entre les mains expertes de votre spécialiste en esthétique.</p>
      <p>L’institut Infinity  vous propose également de faire plaisir à un proche sous la forme d’un bon cadeau. Faites votre choix sur notre carte de prestations de soins.</p>
    </div>
  </article>
  <% if @new.present? %>
    <article id="promotion">
      <div class="content">
        <h2>News</h2>
        <p><%= @new.news %></p>
      </div>
    </article>
  <% end %>
  <article id="prestations">
    <div class="content">
      <h2>Prestations</h2>
      <div class="prestation man-woman">
        <h3>Soins dames et messieurs</h3>
        <ul>
          <li>Soin du visage <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Nettoyage de peau</span><span class="price">1h00 -&nbsp;&nbsp; 90.-</span></p>
              <p><span class="bold">Soin de saison</span><span class="price">1h15 - 115.-</span></p>
              <p><span class="bold">Soin fondamental</span><span class="price">1h30 - 125.-</span></p>
              <p><span class="bold">Soin peeling resurfaçant</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin intensif hydratant</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin anti-âge</span><span class="price">1h30 - 140.-</span></p>
              <p><span class="bold">Soin énergisant</span><span class="price">1h30 - 140.-</span></p>
            </div>
          </li>
          <li>Massages <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Massage du visage</span><span class="price">25min - 20.-</span></p>
              <p><span class="bold">Massage du dos</span><span class="price">30min - 45.-</span></p>
              <p><span class="bold">Massage du dos aux pierres chaudes</span><span class="price">30min - 55.-</span></p>
              <p><span class="bold">Massage corps relaxant</span><span class="price">1h00 -&nbsp;&nbsp; 95.-</span></p>
              <p><span class="bold">Massage corps relaxant</span><span class="price">1h15 - 115.-</span></p>
              <p><span class="bold">Massage corps relaxant aux pierres-chaudes</span><span class="price">1h15 - 130.-</span></p>
            </div>
          </li>
          <li>Soins du corps <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Gommage à choix</span><span class="price">45min -&nbsp;&nbsp; 60.-</span></p>
              <p><span class="bold">Soin corps événement</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Gommage et massage 100% sur mesure</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin corps cérémonie d’orient</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin traditionnel polynésien</span><span class="price">1h30 - 140.-</span></p>
              <p><span class="bold">Soin minceur</span><span class="price">120.-</span></p>
              <p><span class="bold">Soin fermeté</span><span class="price">120.-</span></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="prestation woman">
        <h3>Soins dames</h3>
        <ul>
          <li>Epilations <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Refaire la ligne des sourcils</span><span class="price">18.-</span></p>
              <p><span class="bold">Sourcils</span><span class="price">15.-</span></p>
              <p><span class="bold">Lèvre supérieur</span><span class="price">14.-</span></p>
              <p><span class="bold">Visage (Menton et joue)</span><span class="price">15.-</span></p>
              <p><span class="bold">Aisselles</span><span class="price">19.-</span></p>
              <p><span class="bold">Demi-jambes</span><span class="price">40.-</span></p>
              <p><span class="bold">Cuisses</span><span class="price">40.-</span></p>
              <p><span class="bold">Jambes complètes</span><span class="price">60.-</span></p>
              <p><span class="bold">Bikini normal</span><span class="price">20.-</span></p>
              <p><span class="bold">Bikini échancré</span><span class="price">30.-</span></p>
              <p><span class="bold">Bikini intégral</span><span class="price">42.-</span></p>
              <p><span class="bold">Demi-bras</span><span class="price">25.-</span></p>
              <p><span class="bold">Bras-complet</span><span class="price">40.-</span></p>
              <p><span class="bold">Narines</span><span class="price">5.- / 10.-</span></p>
            </div>
          </li>
          <li>Soin des mains <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de vernis classique</span><span class="price">10.-</span></p>
              <p><span class="bold">Beauté des mains traditionnelles</span><span class="price">40.-</span></p>
              <p><span class="bold">Beauté des mains + soins des mains</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des mains traditionnelles avec pose de vernis semi-permanent</span><span class="price">75.-</span></p>
              <p><span class="bold">Beauté des mains + soins des main avec pose <br /> de vernis semi-permanent</span><span class="price">85.-</span></p>
              <p><span class="bold">Pose de vernis semi-permanent</span><span class="price">55.-</span></p>
            </div>
          </li>
          <li>Soin des pieds <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de vernis classique</span><span class="price">10.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelle, Beauté des pieds + soins des pieds</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelles avec vernis semi-permanent</span><span class="price">80.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelles + soins des pieds <br /> avec pose de vernis semi-permanent</span><span class="price">90.-</span></p>
              <p><span class="bold">Pose de vernis semi-permanent</span><span class="price">55.-</span></p>
            </div>
          </li>
          <li>Onglerie <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de gel complète</span><span class="price">120.-</span></p>
              <p><span class="bold">Remplissage</span><span class="price">80.-</span></p>
              <p><span class="bold">Réparation par ongle cassé</span><span class="price">10.-</span></p>
            </div>
          </li>
          <li>Maquillage <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Maquillage de jour</span><span class="price">35.-</span></p>
              <p><span class="bold">Maquillage de soirée</span><span class="price">50.-</span></p>
              <p><span class="bold">Maquillage de mariée avec essai</span><span class="price">110.-</span></p>
            </div>
          </li>
          <li>Soins du regard <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Teinture de sourcils</span><span class="price">15.-</span></p>
              <p><span class="bold">Teinture des cils</span><span class="price">25.-</span></p>
              <p><span class="bold">Teinture cils et sourcils</span><span class="price">35.-</span></p>
              <p><span class="bold">Permanente des cils</span><span class="price">50.-</span></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="prestation man">
        <h3>Soins messieurs</h3>
        <ul>
          <li>Epilations <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Nez oreilles</span><span class="price">10.-</span></p>
              <p><span class="bold">Sourcils</span><span class="price">19.-</span></p>
              <p><span class="bold">Aisselles</span><span class="price">22.-</span></p>
              <p><span class="bold">Torse</span><span class="price">30.-</span></p>
              <p><span class="bold">Torse et ventre</span><span class="price">50.-</span></p>
              <p><span class="bold">Demi-dos</span><span class="price">20.-</span></p>
              <p><span class="bold">Dos complet (Epaules à 10.-)</span><span class="price">50.-</span></p>
              <p><span class="bold">Epaules</span><span class="price">20.-</span></p>
              <p><span class="bold">Jambes complètes</span><span class="price">60.-</span></p>
            </div>
          </li>
          <li>Soin des mains <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Beauté des mains traditionnelles</span><span class="price">40.-</span></p>
              <p><span class="bold">Beauté des mains + soins des mains</span><span class="price">50.-</span></p>
            </div>
          </li>
          <li>Soin des pieds <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Beauté des pieds traditionnelles</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des pieds + soins des pieds</span><span class="price">60.-</span></p>
            </div>
          </li>
        </div>
    </div>
  </article>
  <article id="contact">
    <div class="content">
      <h2>Contact</h2>
      <div class="row">
        <div class="col-left">
          <%= form_for @contact, url: { action: "show" } do |f| %>
            <% if flash[:error] %>
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg.html_safe, class: 'alert alert-danger' %>
              <% end %>
            <% elsif flash[:notice] %>
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg.html_safe, class: 'alert alert-info' %>
              <% end %>
            <% end %>
            <div class="tab-content">
              <div class="field-box">
                <%= f.text_field "email", placeholder: "email", required: true %>
              </div>
              <div class="field-box">
                <%= f.text_field "name", placeholder: "nom", required: true %>
              </div>
              <div class="text-box">
                <%= f.text_area "message", placeholder: "message" %>
              </div>
              <div class="field-box action">
                <p><%= f.submit 'Envoyer', class: 'btn btn-success' %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-right">
          <h4>+41 (0)21 731 71 79</h4>
          <h4>Infinity Institut</h4>
          <h4>Rue de la Mèbre 15, 1033 Cheseaux-sur-Lausanne</h4>
          <p><span class="day">Lundi : </span>08h30 - 12h00&nbsp;&nbsp; | &nbsp;&nbsp;13h30 - 18h30</p>
          <p><span class="day">Mardi : </span><span class="afternoon">&nbsp;&nbsp;| &nbsp;&nbsp;13h30 - 18h30</span></p>
          <p><span class="day">Mercredi : </span>08h30 - 12h00&nbsp;&nbsp; | &nbsp;&nbsp;13h30 - 18h30</p>
          <p><span class="day">Jeudi : </span><span class="afternoon">&nbsp;&nbsp;| &nbsp;&nbsp;13h30 - 18h30</span></p>
          <p><span class="day">Vendredi : </span>08h30 - 12h00 &nbsp;&nbsp;|&nbsp;&nbsp; 13h30 - 18h30</p>
          <p><span class="day">Samedi : </span>08h30 - 12h00</p>
          <p><span class="day">Dimanche : </span>fermé</p>
        </div>
      </div>
      <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2742.276193913954!2d6.608103800000009!3d46.58177709999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c3242243fdca3%3A0x69d9335855072031!2sRue+de+la+M%C3%A8bre+15%2C+1033+Cheseaux-sur-Lausanne!5e0!3m2!1sfr!2sch!4v1426087589909" frameborder="0" style="border:0"></iframe>
      <i class="bamboo-top"></i>
      <i class="bamboo-bottom"></i>
    </div>
  </article>
  <i class="background-footer"></i>
</section>
