<section id="main">
	<div class="gradient-wood gradient-left"></div>
	<div class="gradient-wood gradient-right"></div>
  <article id="sliders">
    <div class="slider_balls">
      <ul>
        <li class="ball item_1 active"><a href="#"></a></li>
        <li class="ball item_2"><a href="#"></a></li>
        <li class="ball item_3"><a href="#"></a></li>
      </ul>
    </div>
    <section class="slider">
      <img src="<%= image_path("slider/slider_1.jpg") %>" class="item_1">
      <img src="<%= image_path("slider/slider_2.jpg") %>" class="item_2">
      <img src="<%= image_path("slider/slider_3.jpg") %>" class="item_3">
    </section>
  </article>
  <article id="presentation">
    <div class="content">
      <div class="fill-title"></div>
      <h2>Infinity institut</h2>
      <div class="fill-text"></div>
      <p>Lorem ipsum content text test Lorem conten saher ertes flela else thjem, althis 1080.</p>
      <p>Test content lorem ipsum, je veux test let conteu de ma page et les texte, histoire de voir si c’est jolie ou pas.</p>
      <p>Institut de beauté fondé en 2014 et je me demande se que je vais écrire</p>
    </div>
  </article>
  <% if @new.present? %>
    <article id="promotion">
      <div class="content">
        <h2>Promotion</h2>
        <p><%= @new.news %></p>
      </div>
    </article>
  <% end %>
  <article id="prestations">
    <div class="content">
      <h2>Prestations</h2>
      <div class="prestation man-woman">
        <h3>Soins dames et messieurs</h3>
        <ul>
          <li>Visage <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Nettoyage de peau</span><span class="price">1h00 - 90.-</span></p>
              <p><span class="bold">Soin de saison</span><span class="price">1h15 - 115.-</span></p>
              <p><span class="bold">Soin fondamental</span><span class="price">1h30 - 125.-</span></p>
              <p><span class="bold">Soin peeling resurfaçant</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin intensif hydratant</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin anti-âge</span><span class="price">1h30 - 140.-</span></p>
              <p><span class="bold">Soin énergisant</span><span class="price">1h30 - 140.-</span></p>
            </div>
          </li>
          <li>Massages <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Massage du visage</span><span class="price">25min - 20.-</span></p>
              <p><span class="bold">Massage du dos</span><span class="price">30min - 45.-</span></p>
              <p><span class="bold">Massage du dos aux pierres chaudes</span><span class="price">30min - 55.-</span></p>
              <p><span class="bold">Massage corps relaxant</span><span class="price">1h00 - 95.-</span></p>
              <p><span class="bold">Massage corps relaxant</span><span class="price">1h15 - 115.-</span></p>
              <p><span class="bold">Massage corps relaxant aux pierres-chaudes</span><span class="price">1h15 - 130.-</span></p>
            </div>
          </li>
          <li>soins du corps <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Gommage à choix</span><span class="price">45min - 60.-</span></p>
              <p><span class="bold">Soin corps événement</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Gommage et massage 100% sur mesure</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin corps cérémonie d’orient</span><span class="price">1h30 - 130.-</span></p>
              <p><span class="bold">Soin traditionnel polynésien</span><span class="price">1h30 - 140.-</span></p>
              <p><span class="bold">Soin minceur</span><span class="price">120.-</span></p>
              <p><span class="bold">Soin fermeté</span><span class="price">120.-</span></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="prestation woman">
        <h3>Soins dames</h3>
        <ul>
          <li>Epilations <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Refaire la ligne des sourcils</span><span class="price">18.-</span></p>
              <p><span class="bold">Sourcils</span><span class="price">15.-</span></p>
              <p><span class="bold">Lèvre supérieur</span><span class="price">14.-</span></p>
              <p><span class="bold">Visage (Menton et joue)</span><span class="price">15.-</span></p>
              <p><span class="bold">Aisselles</span><span class="price">19.-</span></p>
              <p><span class="bold">Demi-jambes</span><span class="price">40.-</span></p>
              <p><span class="bold">Cuisses</span><span class="price">40.-</span></p>
              <p><span class="bold">Jambes complètes</span><span class="price">60.-</span></p>
              <p><span class="bold">Bikini normal</span><span class="price">20.-</span></p>
              <p><span class="bold">Bikini échancré</span><span class="price">30.-</span></p>
              <p><span class="bold">Bikini intégral</span><span class="price">42.-</span></p>
              <p><span class="bold">Demi-bras</span><span class="price">25.-</span></p>
              <p><span class="bold">Bras-complet</span><span class="price">40.-</span></p>
              <p><span class="bold">Narines</span><span class="price">5.- / 10.-</span></p>
            </div>
          </li>
          <li>Mains <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de vernis classique</span><span class="price">10.-</span></p>
              <p><span class="bold">Beauté des mains traditionnelles</span><span class="price">40.-</span></p>
              <p><span class="bold">Beauté des mains + soins des mains</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des mains traditionnelles avec pose de vernis semi-permanent</span><span class="price">75.-</span></p>
              <p><span class="bold">Beauté des mains + soins des main avec pose <br /> de vernis semi-permanent</span><span class="price">85.-</span></p>
              <p><span class="bold">Pose de vernis semi-permanent</span><span class="price">55.-</span></p>
            </div>
          </li>
          <li>Pieds <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de vernis classique</span><span class="price">10.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelle, Beauté des pieds + soins des pieds</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelles avec vernis semi-permanent</span><span class="price">80.-</span></p>
              <p><span class="bold">Beauté des pieds traditionnelles + soins des pieds <br /> avec pose de vernis semi-permanent</span><span class="price">90.-</span></p>
              <p><span class="bold">Pose de vernis semi-permanent</span><span class="price">55.-</span></p>
            </div>
          </li>
          <li>Onglerie <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Pose de gel complète</span><span class="price">120.-</span></p>
              <p><span class="bold">Remplissage</span><span class="price">80.-</span></p>
              <p><span class="bold">Réparation par ongle cassé</span><span class="price">10.-</span></p>
            </div>
          </li>
          <li>Maquillage <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Maquillage de jour</span><span class="price">35.-</span></p>
              <p><span class="bold">Maquillage de soirée</span><span class="price">50.-</span></p>
              <p><span class="bold">Maquillage de mariée avec essai</span><span class="price">110.-</span></p>
            </div>
          </li>
          <li>Soins du regard <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Teinture de sourcils</span><span class="price">15.-</span></p>
              <p><span class="bold">Teinture des cils</span><span class="price">25.-</span></p>
              <p><span class="bold">Teinture cils et sourcils</span><span class="price">35.-</span></p>
              <p><span class="bold">Permanente des cils</span><span class="price">50.-</span></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="prestation man">
        <h3>Soins messieurs</h3>
        <ul>
          <li>Epilations <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Nez oreilles</span><span class="price">10.-</span></p>
              <p><span class="bold">Sourcils</span><span class="price">19.-</span></p>
              <p><span class="bold">Aisselles</span><span class="price">22.-</span></p>
              <p><span class="bold">Torse</span><span class="price">30.-</span></p>
              <p><span class="bold">Torse et ventre</span><span class="price">50.-</span></p>
              <p><span class="bold">Demi-dos</span><span class="price">20.-</span></p>
              <p><span class="bold">Dos complet (Epaules à 10.-)</span><span class="price">50.-</span></p>
              <p><span class="bold">Epaules</span><span class="price">20.-</span></p>
              <p><span class="bold">Jambes complètes</span><span class="price">60.-</span></p>
            </div>
          </li>
          <li>Mains <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Beauté des mains traditionnelles</span><span class="price">40.-</span></p>
              <p><span class="bold">Beauté des mains + soins des mains</span><span class="price">50.-</span></p>
            </div>
          </li>
          <li>Pieds <span class="more"><span class="more_link"></span></span>
            <div class="container">
              <p><span class="bold">Beauté des pieds traditionnelles</span><span class="price">50.-</span></p>
              <p><span class="bold">Beauté des pieds + soins des pieds</span><span class="price">60.-</span></p>
            </div>
          </li>
        </div>
    </div>
  </article>
  <article id="contact">
    <div class="content">
      <h2>Contact</h2>
      <div class="row">
        <div class="col-left">
          <%= form_for @contact, url: { action: "show" } do |f| %>
            <% if flash[:error] %>
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg.html_safe, class: 'alert alert-danger' %>
              <% end %>
            <% elsif flash[:notice] %>
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg.html_safe, class: 'alert alert-info' %>
              <% end %>
            <% end %>
            <div class="tab-content">
              <div class="field-box">
                <%= f.text_field "email", placeholder: "email", required: true %>
              </div>
              <div class="field-box">
                <%= f.text_field "name", placeholder: "nom", required: true %>
              </div>
              <div class="text-box">
                <%= f.text_area "message", placeholder: "message" %>
              </div>
              <div class="field-box action">
                <p><%= f.submit 'Envoyer', class: 'btn btn-success' %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-right">
          <p><span class="day">Lundi : </span>08h30 - 12h00 13h30 - 18h30</p>
          <p><span class="day">Mardi : </span><span class="afternoon">13h30 - 18h30</span></p>
          <p><span class="day">Mercredi : </span>08h30 - 12h00 13h30 - 18h30</p>
          <p><span class="day">Jeudi : </span><span class="afternoon">13h30 - 18h30</span></p>
          <p><span class="day">Vendredi : </span>08h30 - 12h00 13h30 - 18h30</p>
          <p><span class="day">Samedi : </span>08h30 - 12h00</p>
          <p><span class="day">Dimanche : </span>fermé</p>
        </div>
      </div>
    </div>
    <i class="bamboo"></i>
  </article>
</section>
